.header{
    display: flex;
    justify-content: center;
}
img{
    height: 200px;
    width: auto;
}

@media (max-width: 972px) {
    img{
        max-width: 100%; /* Ensure image doesn't exceed its container's width */
        height: auto; /* Maintain aspect ratio */
        max-height: 10vh; /* Set maximum height */
    }
  }
